!.gitignore
!.gitattributes
/.classpath
tmp
logs
/out
/.settings
*.DS_Store
/.project
.history

# IDE files
/.idea
/*.iml
/*.ipr
*.iws
/.idea_modules
eclipse
.scala_dependencies
.bsp/

# sbt files
dist
target
lib_managed
src_managed/
project/project
project/target
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.vscode/settings.json
.bloop/bloop.settings.json
.bloop/testSuite-test.json
.bloop/testSuite.json
project/metals.sbt
project/.bloop
sbt-launch.jar
